/* custom_600.css | v1903A 2019/03 AOR, LTD. | www.aorja.com/receivers/ar-web-api/ */
@charset "utf-8";
.receiver-panel {
    min-height: 240px;
}
.receiver-frontpanel div.main {
    font-size: 90%;
}
.receiver-frontpanel .main .main-inner-left .display .display-inner div.display-status span {
    font-size: 86%;
}
.receiver-frontpanel .main .main-inner-left .display .display-inner .display-frequency .vfo-main dd p {
    font-size: 90%;
}
