/* custom_402.css | v1904B 2019/04 AOR, LTD. | www.aorja.com/receivers/ar-web-api/ */
@charset "utf-8";
.receiver-frontpanel .main .main-inner-left .display .display-inner .display-status span#stepFrequency {
    visibility: hidden;
}
.receiver-frontpanel div.main {
    font-size: 60%;
}
.receiver-frontpanel .main .main-inner-left .display .display-inner .display-status span {
    margin-right: 0;
}
