/* custom.css | v1904B 2019/04 AOR, LTD. | www.aorja.com/receivers/ar-web-api/ */
/* setting */
@media screen and (min-width: 1024px) {
    .adapter-setting-main {
    width: 80%;
    margin: 0 10%;
    }
}

.setting-panel {
    margin-top: 2em;
}
/* login */
.login-main{
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}
.login-div {
    width: 300px;
}
.login-error-message {
    background-color: #f7b9b9;
    color: #752e2e;
    display: block;
    padding: 0.2em;
    margin: 0.5em 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.error-message {
    background-color: #f7b9b9;
    color: #752e2e;
    display: block;
    padding: 0.2em;
    margin: 0.5em 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.success-message {
    background-color: #b7f4d3;
    color: #2c7057;
    display: block;
    padding: 0.2em;
    margin: 0.5em 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
label.setting {
    font-weight: bold;
}
.setting-param {
    margin-top: 1em;
}
.setting-param label{
    font-weight: bold;
}
.login-error-message p {
    margin-inline-start: 0.5em;
}
.login-page {
    min-height: 100%;
    width: 100%;
    position: relative;
}
.login-footer{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
}
.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
}
.note{
    margin-bottom: 1em;
}
.code{
    font-size: small;
}
.error{
    color: #c95454;
}
#detail-error.error {
    background-color: #f7b9b9;
    color: #752e2e;
    display: block;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
#detail-error {
    display: none;
}
#p-sort table {
    width: 100%;
}
#p-sort td {
    padding: 0.2em;
    text-align: center;
}
#page-detail label {
    font-weight: bold;
}
#d-offset-index-value {
    margin-left: 1em;
    display: inline;
    line-height: 3em;
    font-weight: bold;
}
.panel-hidden {
    position: absolute; 
    visibility: hidden;
    top: 0px;
    left: 0px;
}
.panel-show {
    visibility: visible;
}
.vfo-button:hover {
    background-color: rgb(255, 128, 0);
}
.vfo-button {
    margin: 0;
    width: 1.2em;
    text-align: center;
    padding: 0.5em;
    color: black;
    background-color: rgb(255, 158, 0);
  /*  border-bottom: solid 3px rgb(255, 118, 0); */
    /*    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25); */
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); 
    border-radius: 3px;
    cursor: pointer;
}
/* Show priority 1 at 80px (5em x 16px) */
@media screen and (min-width: 7em) { /* No(5) + space(2) */
   .memorychannel-list th.ui-table-priority-1,
   .memorychannel-list td.ui-table-priority-1 {
     display: table-cell;
   }
}
/* Show priority 2 at 256px (16em x 16px) */
@media screen and (min-width: 18em) { /* frequency(10) + space(1) */
   .memorychannel-list  th.ui-table-priority-2,
   .memorychannel-list td.ui-table-priority-2 {
     display: table-cell;
   }
}
/* Show priority 3 at 464px (27em x 16px) */
@media screen and (min-width: 31em) {  /* title(12) + space(1) */
   .memorychannel-list  th.ui-table-priority-3,
   .memorychannel-list td.ui-table-priority-3 {
     display: table-cell;
   }
}
/* Show priority 4 at 640px (40em x 16px) */
@media screen and (min-width: 42em) { /* mode(10) + space(1) */
   .memorychannel-list  th.ui-table-priority-4,
   .memorychannel-list td.ui-table-priority-4 {
     display: table-cell;
   }
}
/* Show priority 5 at 912px (57em x 16px) */
@media screen and (min-width: 46em) { /* Editbutton(3) + space(1) */
   .memorychannel-list  th.ui-table-priority-5,
   .memorychannel-list td.ui-table-priority-5 {
     display: table-cell;
   }
}

/* Manually hidden */
.memorychannel-list th.ui-table-cell-hidden,
.memorychannel-list td.ui-table-cell-hidden {
  display: none;
}

/* Manually shown */
.memorychannel-list th.ui-table-cell-visible,
.memorychannel-list td.ui-table-cell-visible {
   display: table-cell;
}
/* Show priority 1 at 80px (5em x 16px) */
@media screen and (min-width: 7em) { /* No(5) + space(2) */
   .template-list th.ui-table-priority-1,
   .template-list td.ui-table-priority-1 {
     display: table-cell;
   }
}
/* Show priority 2 at 288px (18em x 16px) */
@media screen and (min-width: 20em) { /* title(12) + space(1) */
   .template-list  th.ui-table-priority-2,
   .template-list td.ui-table-priority-2 {
     display: table-cell;
   }
}
/* Show priority 3 at 464px (29em x 16px) */
@media screen and (min-width: 31em) { /* mode(10) + space(1) */
   .template-list  th.ui-table-priority-3,
   .template-list td.ui-table-priority-3 {
     display: table-cell;
   }
}
/* Show priority 4 at 688px (43em x 16px) */
@media screen and (min-width: 35em) { /* Editbutton(3) + space(1) */
   .template-list  th.ui-table-priority-4,
   .template-list td.ui-table-priority-4 {
     display: table-cell;
   }
}

.list-no-text {
    position: absolute;
    left: .5em;
    top: 50%;
    margin: -11px 0 0 30px;
}
.memorychannel-list td{
    height: 1.5em;
}
.template-list td{
    height: 1.5em;
}
p.version{
    font-size: small;
    font-weight: normal;
    text-align: center;
    margin: 0.5em 0;
    padding: 0.5em 0;
}
.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}
.ui-loading .ui-loader-background {
    display:block;
}
/* receiver */
#receiver {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
@media screen and (orientation: portrait){
    .receiver-panel {
        margin: 5px auto;
        height: 30vh;
    }
}
@media screen and (orientation: landscape){
    .receiver-panel {
        margin: 5px auto;
        height: 40vh; 
    }
}

.view-panel {
    margin: 5px;
}
.audio{
/*    display: none; */
}
.receiver-nav {
    margin: auto;
}
.receiver-panel {
    min-height: 260px;
}
.receiver-frontpanel {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: auto;
    height: 100%;
}
.sub-panel {
    height: 20%;
    box-sizing: border-box;
    margin-top: 2px;
}
.receiver-frontpanel .main {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;

}
.receiver-frontpanel .main .main-inner-left {
    height: 100%;
    width: 60%;
}
.receiver-frontpanel .main .main-inner-right {
    height: 100%;
    width: 40%;
}
.receiver-frontpanel .main .main-inner-right .commands {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.receiver-frontpanel .main .commands-line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.receiver-frontpanel .main .commands-line a {
    width: 21%;
    height: 80%;
    flex-grow: 1;
    box-sizing: border-box;
}
.receiver-frontpanel .main .main-inner-left .display {
    height: 70%; 
    width: 100%;
    /*    background-color: rgb(255, 148, 0); */
    background-color: rgb(255, 148, 0);
    color: #000;
    text-shadow: none;
    box-sizing: border-box;
    padding: 2%;
    border: solid 3px #ddd;
}
.receiver-frontpanel .main .logo {
    height: 10%;
    width: 100%;
}
.receiver-frontpanel .main .logo img {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}
.receiver-frontpanel .main .main-inner-left .frequency {
    width: 100%;
    height: 20%;
}
.receiver-frontpanel .main .main-inner-left .display .display-frequency dl {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    width: 100%;
}
.receiver-frontpanel .main .main-inner-left .display .display-inner {
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold; 

}
.receiver-frontpanel .main .main-inner-left .display .display-frequency dt {
    clear: left;
    float: left;
    width: 10%;
}
.receiver-frontpanel .main .main-inner-left .display .display-frequency dd p{
    margin: 0;
}
.receiver-frontpanel .main .main-inner-left .display .display-frequency dl.vfo-sub dd p{
    padding: 0.5em;
}

.receiver-frontpanel .main .main-inner-left .display .display-frequency dd {
    text-align: right;
}
.receiver-frontpanel .main .main-inner-left .display .display-frequency dl.vfo-main {
/*    height: 40%; */
}
.receiver-frontpanel .main .main-inner-left .display .display-frequency dl.vfo-main dt{
    height: 100%;
    display: flex;
    align-items: center;
}

.receiver-frontpanel .main .main-inner-left .display .display-frequency dl.vfo-main dd {
/*     font-size: xx-large; */
    font-size: 130%;
    font-weight: bold;
}
.receiver-frontpanel .main .main-inner-left .display span.display-icon {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0 0.2em;
    font-weight: normal;
}

.receiver-frontpanel .main .main-inner-left .display .display-status {
    height: 15%;
    width: 100%;
    padding: 0 0 1% 0;
}
.receiver-frontpanel .main .main-inner-left .display .display-status #analog-receive-mode {
    width: 3em;
    display: inline-block;
}
.receiver-frontpanel .main .main-inner-left .display .display-status #ifbw {
    width: 4em;
    display: inline-block;
}
.receiver-frontpanel .main .main-inner-left .display .display-status #digital-decode-mode {
    width: 4em;
    display: inline-block;
}
.receiver-frontpanel .main .main-inner-left .display .display-smeter {
    height: 15%;
    width: 100%;
    padding: 0 0 1% 0;
}
.receiver-frontpanel .main .main-inner-left .display .display-frequency {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}
.receiver-frontpanel .main .main-inner-left .display .display-status span {
    margin-right: 0.5em;
}
.receiver-frontpanel .main .main-inner-left .display .display-smeter span {
    margin-right: 0.5em;
}
.receiver-log-head, .receiver-log-body {
    width: 100%;
    display: block;
}
#log-panel table {
    width: 100%;
}
#log-panel table tr {
    width: 100%;
}
.receiver-log-body td {
    font-size: 0.8em;
}
.receiver-log-datetime {
    width: 20%;
    text-align: center;
}
.receiver-log-duration {
    width: 5%;
    text-align: center;
}
.receiver-log-frequency {
    width: 10%;
}
.receiver-log-mode {
    width: 10%;
    text-align: center;
}
.receiver-log-level {
    width: 5%;
    text-align: center;
}
.receiver-log-digitalInfo {
    width: 50%;
}
.receiver-log-body {
    //  height: 500px;
    height: 50vh;
    overflow: auto;
}
.spectrum-chart {
    margin: 1em 0;
}
.commands-line a {
    padding: 1em 0.7em;
    font-size: 0.9em;
}
#menu-panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* openwebrx */
#webrx-main-container
{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}
#openwebrx-scale-container
{
	height: 47px;
	background-image: url("/images/openwebrx-scale-background.png");
	background-repeat: repeat-x;
	overflow: hidden;
	z-index:1000;
	position: relative;
}
#openwebrx-mathbox-container
{
	overflow: none;
	display: none;
}
#webrx-canvas-container
{
	/*background-image:url('gfx/openwebrx-blank-background-1.jpg');*/
	position: relative;
	height: 2000px;
	overflow-y: scroll;
	overflow-x: hidden;
	/*background-color: #646464;*/
	/*background-image: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(0,0,0,1) 100%);*/
	background-image: url('/images/openwebrx-background-cool-blue.png');
	background-repeat: no-repeat;
	background-color: #1e5f7f;
	cursor: crosshair;
}

#webrx-canvas-container canvas
{
	position: absolute;
	border-style: none;
	image-rendering: crisp-edges;
	image-rendering: -webkit-optimize-contrast;
    /*transition: left 200ms, width 200ms;*/
}

#openwebrx-phantom-canvas
{
	position: absolute;
	width: 0px;
	height: 0px;
}
