*.*~
images/AR-DV1_logo.png
images/android-chrome-144x144.png
images/android-chrome-192x192.png
images/android-chrome-256x256.png
images/android-chrome-36x36.png
images/android-chrome-384x384.png
images/android-chrome-48x48.png
images/android-chrome-72x72.png
images/android-chrome-96x96.png
images/apple-touch-icon.png
images/favicon-16x16.png
images/favicon-32x32.png
images/favicon.ico
images/mstile-150x150.png
images/safari-pinned-tab.svg
javascript/init.js
